<!DOCTYPE html>
<html lang="en" class="<%= @layout_params.page_class %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preload" href="/fonts/placardmtstd-cond-webfont.woff2" as="font" type="font/woff2" crossorigin>

    <title><%- if @title -%><%= @layout_params.title %> - <%- end -%>stephanhagemann.com</title>

    <meta name="description" content="Stephan Hagemann's home on the web. Read his blog, ask questions, and find coverage of his recent conference talks about web development."/>

    <%# <link rel="alternate" href="/feed.xml" title="stephanhagemann.com blog feed, by Stephan Hagemann" type="application/atom+xml" /> %>
    <link rel="webmention" href="https://webmention.io/stephanhagemann.com/webmention" />
    <link rel="pingback" href="https://webmention.io/stephanhagemann.com/xmlrpc" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content=https://twitter.com/shageman />
    <meta name="twitter:title" content="<%= @layout_params.title %>" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:site" content="stephanhagemann.com" />
    <meta name="twitter:image" content="https://stephanhagemann.com/images/favicon_io/apple-touch-icon.png" />

    <meta property="og:url" content="https://stephanhagemann.com{{page.url}}" />
    <meta property="og:title" content="<%= @layout_params.title %>" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://stephanhagemann.com/images/favicon_io/apple-touch-icon.png" />

    <link rel="shortcut icon" href="/images/favicon_io/favicon.ico">
  </head>
  <body>
    <div id="sidebar" class="sidebar">
      <header>
        <div class="sidebar-container">
          <ul class="nav">
            <% NavBar::Menu.each_item do |mi| %>
              <li <% if @layout_params.active_section == mi.section %> aria-current="page"<% end %>>
                <%= link_to mi.text.downcase, mi.path.(), class: mi.class_name %>
              </li>
            <% end %>
          </ul>
          <div class="page-details">
            <% if content_for?(:sidebar) %>
              <%= yield :sidebar %>
            <% else %>
              <%- if @layout_params.header -%>
                <h1><%= @layout_params.header %></h1>
              <%- elsif @layout_params.title -%>
                <h1><%= @layout_params.title %></h1>
              <%- end -%>
              <p><%= raw @layout_params.description %></p>
              <p><%= raw @layout_params.description_link %></p>
            <% end %>
          </div>
        </div>
      </header>
      <div class="image-credits">
		    <p id="image-credits"></p>
	    </div>
    </div>
    <div class="main">
      <div class="container <%= @layout_params.container_class %>">
        <%= yield %>
      </div>
    </div>
  </body>

  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_lAAi1bGHg6ClcmypMmFEy8jmtjA8btvi7ui9KDlHeIh',{api_host:'https://app.posthog.com'})
  </script>
</html>
