<% content_for :sidebar do -%>
  <%- if @layout_params.header -%>
    <h1><%= @layout_params.header %></h1>
  <%- elsif @layout_params.title -%>
    <h1><%= @layout_params.title %></h1>
  <%- end -%>
  <p><%= raw @layout_params.description %></p>
  <p><%= raw @layout_params.description_link %></p>
<% end -%>

<%= render template: "layouts/application" %>