<%
  @layout_params = RailsShims::LayoutParams.new(
    active_section: 'agile_landscape',
    container_class: "content-margin-top",
    title: "Agile Landscape - Entry - #{@entry.name}",
    header: "Agile Landscape - Entry",
    description: "This page is part of my <a href='/agile_landscape'>Agile Landscape</a> project."
  )
%>

<h1>Entry: <%= @entry.name %></h1>

<%= @entry.name %> is part of the following frameworks:

<ul>
  <% @frameworks.each do |f| %>
    <li><%= link_to f.name, agile_landscape_framework_path(version: @entry.version.to_param, id: f.to_param) %></a>
  <% end %>
</ul>

<%# <h2>What ChaptGPT says about it...</h2> %>

<%#= raw @markdown.render(@entry.chatGPT && @entry.chatGPT["result"] || '') %>

<h2>Google Links</h2>

<a href="https://www.google.com/search?q=${justName}">Google Search for "<%= @entry.name %>"</a>
<a href="https://trends.google.com/trends/explore?date=all&q=${justName}">Google Trends for "<%= @entry.name %>"</a>
